.main{
  display: block;
  zoom: 2;
}

.first{
  background-color: aquamarine;
  float: left;
  width: 150px;
  height: 80px;
  margin-left: 20px;
}

.second{
  background-color:bisque;
  position: relative;
  top:107px;
}