.main{
  display: flex;
  flex-wrap: wrap;
  zoom: 2;
}

.flex-container{
  width: 140px;
  height:80px;
  background-color: aquamarine;
  margin:15px;
  font-size: 13px;
}

.ender{
  background-color: bisque;
  font-size: 13px;
}