body{
  width: 90%;
}
.main{
  position: relative;
  display: block;
}

.first{
  position: static;
  color:white;
  background-color: blueviolet;
  width:180px;
  height:100px;
}

.second{
  position: relative;
  color:white;
  background-color: darkred;
  width:180px;
  height:100px;
}

.third{
  position: relative;
  color:white;
  background-color: peru;
  width:180px;
  height:100px;
  left: 38px;
  top: -33px;
}

.fourth{
  position: relative;
  color:white;
  background-color: indianred;
  width:500px;
  height: 300px;
}
.fifth{
  position: absolute;
  color:white;
  background-color: indigo;
  width:300px;
  height:220px;
  top: 47px;
  left: 200px;
}

.sixth{
  position: fixed;
  color:white;
  background-color: forestgreen;
    width:100px;
    height:100px;
    top: 630px;
    left: 1389px;

}