.main{
  display: flex;
  justify-content: space-between;
  
}

.container{
  display: flex;
  flex-direction: column;

}
.first{
  width: 200px;
  height:100px;
  background-color: bisque;
}

.second{
  width: 200px;
  height:100px;
  background-color:aquamarine ;
}

.third{
  width:1500px;
  height: 200px;
  background-color: grey;
}