body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  width: 400px; 
  height: 400px; 
  background-color: blue;
  color: white; 
  position: relative;
  padding: 0px; 
  box-sizing: border-box;
}

.image {
  float: right;
  width: 50%; 
  height: auto;
  margin: 0;
}

.text {
  margin-top: 0;
}
